<%= form_with(model: usvideo, local: true) do |form| %>
  <% if usvideo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usvideo.errors.count, "error") %> prohibited this usvideo from being saved:</h2>

      <ul>
      <% usvideo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
