<p id="notice"><%= notice %></p>

<h1>Usvideos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usvideos.each do |usvideo| %>
      <tr>
        <td><%= link_to 'Show', usvideo %></td>
        <td><%= link_to 'Edit', edit_usvideo_path(usvideo) %></td>
        <td><%= link_to 'Destroy', usvideo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usvideo', new_usvideo_path %>
