<div class='container'>
  <div class="page-header">
    <h2>Ruby On Rails YouTube Search</h2>
  </div>

  <div class="row">
    <div class="input-group input-group-lg col-sm-8 col-md-8">
       <input type="text" class="form-control">
    </div>
  </div>

</div>