<div class="panel panel-default" style="margin-top:10px;">
  <div class="panel-heading">
    Products
  </div>
  <div class="panel-body" style="position:relative">
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th *ngFor="let column of columns">
            {{column}}
          </th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let row of rows">
          <td *ngFor="let column of columns">
            {{row[column]}}
          </td>

          <button (click)="delete(row['id'])">delete</button> ||
          <button (click)="update(row['id'])">update</button>
        </tr>
        </tbody>
      </table>
    </div>
  </div>